@model IEnumerable<ItAcademy.SchoolAdmin.Web.Models.PositionViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Job positions</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaxEmployees)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaxEmployees)
        </td>
        <td>
            <a href="/@MVC.Position.Name/@MVC.Position.ActionNames.Edit/@item.Id">Edit  |</a>
            <a href="/@MVC.Worker.Name/@MVC.Worker.ActionNames.EditEmployee/@item.Id">Set Worker |</a>
            <a href="/@MVC.Position.Name/@MVC.Position.ActionNames.Delete/@item.Id">Delete </a>
        </td>
    </tr>
}

</table>
