@model IEnumerable<ItAcademy.SchoolAdmin.Web.Models.EmployeeListModel>

<h2>Index</h2>

<p>
    <a href="@Url.Action(MVC.Employee.Create())">Create new</a>
</p>
<table class="table">
    <tr>
        <th>Full Name</th>
        <th>Date of Birth</th>
        <th>E-mail</th>
        <th>Phone</th>
        <th></th>
    </tr>
    <tbody id="employeeDataTable">
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.FullName</td>
                <td>@item.BirthDate</td>
                <td>@item.Email</td>
                @*<td>@item.Phone</td>*@
                <td>
                    <a href="@Url.Action(MVC.Employee.Edit(@item.Id))">Edit |</a>
                    <a href="@Url.Action(MVC.Employee.Delete(@item.Id))">Delete</a>
                </td>
            </tr>

        }
    </tbody>

</table>  