@model IEnumerable<ItAcademy.SchoolAdmin.Web.Models.EmployeeListModel>
@using ItAcademy.SchoolAdmin.BusinessLogic.SignalR

<h2>All employees</h2>

<input type="text" name="name" id="search" />
<input type="button" value="Поиск" id="submit" />

<p style="display: none" class="list-updated-notification">
    Employee list updated. <a href="#" class="list-updated-notification-link">Click here</a> to refresh.
</p>

<p>
    <a href="/@MVC.Employee.Name/@MVC.Employee.ActionNames.Create">Create new</a>
</p>
<table class="table">
    <tr>
        <th>Full Name</th>
        <th>Date of Birth</th>
        <th>E-mail</th>
        <th>Phone</th>
        <th></th>
    </tr>
    <tbody id="employeeDataTable">
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.FullName</td>
                <td>@item.BirthDate</td>
                <td>@item.Email</td>
                <td>@item.Phone</td>
                <td>
                    <a href="/@MVC.Employee.Name/@MVC.Employee.ActionNames.Edit/@item.Id">Edit  |</a>
                    <a href="/@MVC.Employee.Name/@MVC.Employee.ActionNames.Delete/@item.Id">Delete</a>
                </td>
            </tr>

        }
    </tbody>

</table>

<p>
    <a href="/@MVC.Employee.Name/@MVC.Employee.ActionNames.Create">Create New Employee</a>
</p>

@section scripts{
    <script src="~/Content/scripts/lib/jquery/jquery-3.3.1.min.js"></script>
    <script src="~/Content/scripts/lib/jquery-signalr/jquery.signalR-2.4.1.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script type="text/javascript" src="~/Content/scripts/js/SearchHandler.js"></script>
    <script type="text/javascript" src="~/Content/scripts/js/EmployeeListUpdater.js"></script>
    <script type="text/javascript" src="~/Content/scripts/js/CommonListModificationHandler.js"></script>
    <script type="text/javascript">

        let updater = new EmployeeListUpdater({
            employeeTableBody: $('#employeeDataTable'),
            urlsCellTemplate:
                '@Html.ActionLink("Edit", "Edit", new {id = "_id_"}) | @Html.ActionLink("Delete", "Delete", new {id = "_id_"})'
        });

        let employeeSearchHandler = new SearchHandlerWrapper({
            controllerName: 'employee',
            actionName: 'search',
            updater: updater
        });

        let employeeListModificationHandler = new CommonListModificationHandler({
            listModifiedEventName: '@EmployeeContextModificationNotifyingServiceDecorator.MethodName',
            listUpdater: updater,
            listUpdatedNotificationArea: $('.list-updated-notification')
        });

    </script>
}