@model ItAcademy.SchoolAdmin.Web.Models.SubjectViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>SubjectViewModel</h4>
    <hr />
    <h4>
        Subject Name: @Model.Name
    </h4>
    <ul class="list-group">
        <h5>Employees:</h5>
        @foreach (var employee in Model.Employees)
        {
            <li class="list-group-item">@employee.Name @employee.Middlename @employee.Surname</li>
        }
        @Html.ActionLink("Set Employee", "EditEmployee", new { id = Model.Id })
    </ul>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
