@model IEnumerable<ItAcademy.SchoolAdmin.Web.Models.SubjectViewModel>
@using ItAcademy.SchoolAdmin.BusinessLogic.SignalR


<h2 class="h2 mb-2 text-gray-800">Subjects List</h2>
@*<input type="text" name="name" id="search" class="form-control form-control-sm"/>
<input type="button" value="Поиск" id="submit" />*@

<p style="display: none" class="list-updated-notification">
    Subject list updated. <a href="#" class="list-updated-notification-link">Click here</a> to refresh.
</p>

<p class="col-md-1">
    <a class="btn btn-primary btn-user btn-block" href="@Url.Action(MVC.Subject.Create())">Create new</a>
</p>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Employees summary</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <div class="row">
                <div class="col-md-12">
                    <div id="dataTable_filter" class="dataTables_filter">
                        <label>
                            Search:
                            <input type="text" name="name" id="search" class="dataTables_filter form-control form-control-sm" />
                        </label>
                        <input type="button" value="Поиск" id="submit" />
                    </div>
                </div>
            </div>
            <table class="table" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Manage</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Name</th>
                        <th>Manage</th>
                    </tr>
                </tfoot>
                <tbody id="subjectDataTable">
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>@item.Name</td>
                        <td>
                            <a class="btn btn-info btn-circle btn-sm" href="@Url.Action(MVC.Subject.Edit(@item.Id))" title="Edit subject">
                                <i class="fas fa-pen"></i>
                            </a>
                            <a class="btn btn-info btn-circle btn-sm" href="@Url.Action(MVC.Teacher.EditEmployee(@item.Id))" title="Edit teacher">
                                <i class="fas fa-pen-alt"></i>
                            </a>
                            <a class="btn btn-danger btn-circle btn-sm" href="@Url.Action(MVC.Subject.Delete(@item.Id))" title="Delete subject">
                                <i class="fas fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@*<table class="table">
    <tr>
        <th>Name</th>
        <th></th>
    </tr>
    <tbody id="subjectDataTable">
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>
                    <a href="@Url.Action(MVC.Subject.Edit(item.Id))">Edit  |</a>
                    <a href="@Url.Action(MVC.Teacher.EditEmployee(item.Id))">Set Teacher  |</a>
                    <a href="@Url.Action(MVC.Subject.Delete(item.Id))">Delete  |</a>
                </td>
            </tr>
        }
    </tbody>
</table>*@

@section scripts{
    <script src="~/Content/scripts/lib/jquery/jquery-3.3.1.min.js"></script>
    <script src="~/Content/scripts/lib/jquery-signalr/jquery.signalR-2.4.1.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script type="text/javascript" src="~/Content/scripts/js/SearchHandler.js"></script>
    <script type="text/javascript" src="~/Content/scripts/js/SubjectListUpdater.js"></script>
    <script type="text/javascript" src="~/Content/scripts/js/CommonListModificationHandler.js"></script>
    <script type="text/javascript">

        let updater = new SubjectListUpdater({
            subjectTableBody: $('#subjectDataTable'),
            urlsCellTemplate:
                '@Html.ActionLink("Edit", "Edit", new {id = "_id_"}) | @Html.ActionLink("Delete", "Delete", new {id = "_id_"})'
        });

        let subjectSearchHandler = new SearchHandlerWrapper({
            controllerName: 'subject',
            actionName: 'search',
            updater: updater
        });

        let subjectListModificationHandler = new CommonListModificationHandler({
            listModifiedEventName: '@SubjectContextModificationNotifyingServiceDecorator.MethodName',
            listUpdater: updater,
            listUpdatedNotificationArea: $('.list-updated-notification')
        });

    </script>
}